{% load static %}
/*
    Default Theme

body{
    color: #0c5460;

}
h3 {
    font-family: "Raleway";
}
*/

/* Html, Body */
html, body {
    height: 100%;
}
body {
    color: #0c5460;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  color: #0c5460;
}
p {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
}
section {
    background-color: #f5f5f5;
    overflow: hidden;
}
section1 {
    background-color: #f7f7f7;
    overflow: hidden;
    margin-top: 100px;
}
/* Preloader */
#preloader {
    background-color: #f7f7f7 ;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999; /* specifies stack order */
}

#class1 {
    font-family: 'Raleway', sans-serif;
        color: #6c757d;
}

#class2 {
    font-family: 'Raleway', sans-serif;
    color: #d39e00;
}

#class3 {
    font-family: 'Raleway', sans-serif;
        color: #0c5460;
    text-align: center;
}

.logo-des {
    color: #0f74a8;
    font-size: large;
}

#icons {
    font-size:100px;
    color: #d39e00;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.counting-sec{
    padding: 40px 0;
    width: 100%;
    background: linear-gradient(90deg,#f5f5f5,#6c757d);
}

.funds-sec{
    padding: 40px 0;
    width: 100%;
}

.footer-sec{
    padding: 40px 0;
    font-size: 20px;
    text-align: center;
    font-family: Raleway;
    color: #0f74a8;
    width: 100%;
    background: linear-gradient(90deg,#f5f5f5,#6c757d);
}


#image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

#status {
    background: url("images/preloader.gif") no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;

}
/* home */
#home {
    background: none;
    height: 100%;
}
#home-bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url("images/children.jpg") no-repeat;
    background-size: cover;
}
#home-overlay {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#home-content {
    width: 100%;
    height: 100%;
    display: table;
}
#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}
#home-heading h1 {
    color: #f5f5f5;
    font-size: 65px;
    font-weight: 100;
    margin: 0;
    display: inline-block;
}
#home-heading h1 span {
    color: #0f74a8;
    font-weight: 500;
    margin: 8px 0 30px 0px;
}

a {
    color: #0c5460;
}

a:hover{
    text-decoration: none;
    color: #d39e00;
}


/* Content-box */
.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}
/**/

/* Buttons */
.btn-general {
    font-family: 'sans-serif', Raleway;
    border-radius: 30px;
    font-size: 18px;
    margin: 0 6px;
    padding: 12px 46px 17px 46px;/*internal spacing */
    -webkit-transition: all .4s;
    transition: all .4s;
}

.button {
  background-color: #0c5460;
  font-family: 'sans-serif', Raleway;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-home {
    color: #0f74a8;
    border: 1px solid #0f74a8;
}

.btn-home:hover, .btn-home:focus {
    color: #6c757d;
    background-color: #d39e00;

}

/* NAVBAR */
/* Navigation */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
}

nav.black {
    background: rgba(0,0,0,0.8);
    height: 100px;
    padding: 10px 100px;
    -webkit-transition-delay: 1s ;
    -webkit-transition-property: -webkit-transform ;
    -moz-transition-property: -moz-transform;
    z-index: 1;
}

nav .logo {
    top: 0;
    padding: 22px 10px;
    margin-top: auto;
    height: 80px;
    font-family: Raleway;
    color: #0f74a8;
    float: left;
    font-size: 30px;
    transition: .3s;
}

nav.black .logo{
    color: #f7f7f7;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 80px;
    font-size: 15px;
    font-family: Raleway;
    color: #ffcc33;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

nav.black ul li a{
    color: #0f74a8;
    font-family: Raleway;
    font-size: 15px;
}

section.sec1{
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center ;
}

/* END NAV */

/* Side nav */

.sidenav {
    margin-top: 20%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #d39e00;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: Raleway;
    font-size: 20px;
    color: #f5f5f5;
    display: block;
}

.sidenav a:hover {
    color: #0f74a8;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.thumbnail{
    width : 100%;
    height: 650px;
    overflow: hidden;
  margin-left: 16%;
  margin-top: 8%;
}

.error {
    width: 80%;
    margin: auto;
    color: darkred;
}

.thumbnail img-top{
    width: 100%;
    height: 20vw;
  object-fit: cover;
}

.update {
    margin: 20px 0px 20px 20px;
}
.main {
    max-width: 1000px;
    margin: auto;
}

.thumbnail:hover{
  -webkit-box-shadow: -1px 9px 40px -12px #0c5460;
  -moz-box-shadow: -1px 9px 40px -12px #0c5460;
  box-shadow: -1px 9px 40px -12px #0c5460;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

.camp {
    color: #d39e00;
    font-size: 25px;
}

.camp_status {
    color: #d39e00;
    font-size: 20px;
}

.progress, .progress-bar {
    height:30px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
