* {box-sizing: border-box;}
body {font-family:"Times New Roman", Times, serif;}
.mySlides {display: none;}
.img1 {opacity:0.8;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {

  position: relative;
  margin: auto;
  background-color: black;
}
.container-fluid {
      padding: 60px 50px;
  }
.bg-grey {
      background-color: #f6f6f6;
  }
.thumbnail {
        padding: 0 0 15px 0;
        border: none;
        border-radius: 0;
    }
.thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
h6:hover {
    color: #F933FF;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
.text-block {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: transparent;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
/* Fading animation */


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* slide.html css ----------------------------------------------------------------*/
