{% extends 'startFundraiser/home.html' %}
{% load widget_tweaks %}
{% block content %}
<br><br><br><br><br><br>
<div class="container" >
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-5 mx-auto">
      <div class="card">
        <div class="card-header" >

          <h1>Account change password</h1>
        </div>
        <form method="post">
                <center>
                {% csrf_token %}

                {%  for field in form %}
                  {{ field.label }}
                  {{ field | add_class:"form-control" | attr:"size:20" }}<br><br>
                {% endfor %}

               <button type="submit" class="btn btn-outline-success" style="font-size: 24px;">Save changes</button>
               </center>
        </form>
      </div>

    </div>
  </div>
</div>
</div>



{% endblock %}
