
{% load staticfiles %}
<!DOCTYPEhtml>
<head>
  <title>Login V15</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--<link rel="stylesheet" type="text/css" href="{% static 'register/style1.css' %}" />-->
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="{% static 'register/images1/icons/favicon.ico' %}"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'register/vendor/bootstrap/css/bootstrap.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'register/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'register/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'register/vendor/animate/animate.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'register/vendor/css-hamburgers/hamburgers.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'register/vendor/animsition/css/animsition.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'register/vendor/select2/select2.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'register/vendor/daterangepicker/daterangepicker.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'register/css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'register/css/main.css' %}">

  <!--===============================================================================================-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'startFundraiser/style.css' %}">
  <link rel="shortcut icon" href="{%  static 'startFundraiser/favicon.ico' %}">
  <title>{% block title %}IceBreaker{% endblock %}</title>

</head>

<body>
  <header>
     <div class="wrapper">
        <nav>
           <div class="logo"><a href="{% url 'startFundraiser:home' %}" class="logo-des">ice<strong>Breaker</strong></a></div>
           <ul>
              <li><a href="{% url 'startFundraiser:start_campaign' %}">Start Campaign</a></li>
              <li><a href="{% url 'community:make_group' %}">Volunteer</a></li>
              <li><a class="active" href="{% url 'startFundraiser:campaigns' %}">Explore</a></li>
              <li><a class="active" href="{% url 'marketplace:products_blog' %}">Marketplace</a></li>
              <li><a class="active" href="{% url 'community:view_group' %}">Communities</a></li>
              <li class="nav-item" id="links"><a href="{% url 'startFundraiser:blog_post' %}">notifications</a></li>
              <li><a class="active" href="{% url 'polls:query_view' %}">Contact Us</a></li>
              {% if user.is_authenticated %}
              <li><a href="{% url 'register:user_logout' %}">Logout</a></li>
              <li><a href="{% url 'register:edit_profile' %}">Howdy {{ request.user }}!</a></li>

              {% else %}
              <li><a href="{% url 'register:user_register' %}">SignUp</a></li>
              <li><a href="{% url 'register:user_login' %}">Login</a></li>
              {% endif%}
           </ul>
           {% block search %}{% endblock %}
        </nav>
        {% block bg_img %}{% endblock %}
     </div>
  </header>


  <div class="container">
      {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}
  </div>


  <div class="limiter">
    <div class="container-login100" >
      <div class="wrap-login100" style="border-style: solid;border-color: Dodgerblue;">

        <div class="login100-form-title" style="background-color:Dodgerblue;">
          <span class="login100-form-title-1" >
            Sign In
          </span>
        </div>

        <form action="{% url 'register:user_login' %}" method="post" class="login100-form validate-form">
          {% csrf_token %}

          <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
            <span class="label-input100">Username</span>
            <input class="input100" type="text" name="username" placeholder="Enter username/email">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
            <span class="label-input100">Password</span>
            <input class="input100" type="password" name="password" placeholder="Enter password" value="">
            <span class="focus-input100"></span>
          </div>






          <div class="flex-sb-m w-full p-b-30">
            <div class="contact100-form-checkbox">

              <div>
                <a href="{% url 'register:user_register' %}" class="txt1">
                  Register!
                </a>
              </div>
            </div>
            <br><br>
            <div >
              <div align="right">
                <a href="{% url 'password_reset' %}" class="txt2" >Forgot Password?</a>

              </div>
            </div>
          </div>
            &nbsp
            <br><br><br>
          <center>
            <button type="submit" value="login" class="btn btn-outline-success"style="font-size: 26px;" >login</button>
          </center>
          </form>

        <center>
          <p> here you can login as ......... or .............. </p>
        </center>

        <div>
          <center>
            <a href="{% url 'social:begin' 'github' %}">
              <button type="button" name="button" class="btn btn-primary" style="font-size: 20px;">Github</button>
            </a>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="{% url 'social:begin' 'google-oauth2' %}">
              <button type="button" name="button" class="btn btn-danger" style="font-size: 20px;">Google+</button>
            </a>
          </center>
        </div>

      </div>
    </div>

    <!--===============================================================================================-->
    <script src="{% static 'register/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'register/vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'register/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'register/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'register/vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'register/vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'register/vendor/daterangepicker/daterangepicker.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'register/vendor/countdowntime/countdowntime.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'register/js/main.js' %}"></script>

  </body>
