{% extends 'startFundraiser/home.html' %}
{% block content %}
<div>
    <div class="container-fluid">
      <div class="row">
          {% for p in posts %}
            <div class="col-md-6">
              <div class="img-thumbnail">
                Title: {{ p.title }}<br>
                author: {{ p.author }}<br>
                body: {{ p.body }}<br>
                Created : {{ p.created }}<br>
                Updated: {{ p.updated }}<br>
              </div>
            </div>
            {% empty %}
              <div class="container-fluid">
                <h1> No search found "{{ request.GET.q }}"</h1>
              </div>
          {% endfor %}
        </div>
      </div>
</div>
{% endblock %}
